name = "focbs-rates-cron"
main = "src/index.ts"
compatibility_date = "2023-10-23"

# Cron Triggers
# Docs: https://developers.cloudflare.com/workers/platform/triggers/cron-triggers/
# Configuration: https://developers.cloudflare.com/workers/wrangler/configuration/#triggers
[triggers]
crons = ["10 0-6 * * *"] # At minute 10 past every hour from 0 through 12

[env.dev.triggers]
crons = ["* * * * *"]

[vars]
RATES_REQUEST_URL = "https://www.backend-rates.bazg.admin.ch/api/xmldaily?locale=en"
DISABLE_HASH = false
KEY_PREFIX = "KEY_C_"

[[kv_namespaces]]
binding = "KV_CURRENCIES_RATES"
id = ""
#preview_id = ""
